[submodule "Ripple"]
	path = Ripple
	url = git@github.com:rdkcentral/Ripple.git
[submodule "ripple_comcast_extns"]
	path = ripple_comcast_extns
	url = git@github.comcast.com:ottx/ripple_comcast_extns.git
[submodule "firebolt-devices"]
	path = firebolt-devices
	url = git@github.comcast.com:ottx/firebolt-devices.git
