[submodule "Ripple"]
	path = Ripple
	url = https://github.com/rdkcentral/Ripple.git
[submodule "ripple-eos-thunder-extn"]
	path = ripple-eos-thunder-extn
	url = https://github.com/comcast-firebolt/ripple-eos-thunder-extn
[submodule "firebolt-devices"]
	path = firebolt-devices
	url = git@github.com:comcast-firebolt/firebolt-devices.git
